@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
ul, li { margin: 0; padding: 0; }
li { list-style-type: none; }
li a { text-decoration: none; color: #666; }
li a:hover { text-decoration: underline; color: #33c; }
.header, .footer { width: 100%; display: flex; justify-content: space-between; }
.header ul, .footer ul { display: flex; justify-content: space-evenly; gap: 16px; margin: 16px; }
.footer { background-color: #eee; }

.content { display: flex; flex-direction: column; align-items: center;}
.content button { padding: 8px 16px; }